src/1-Services/Asd/bin
src/1-Services/Asd/obj
src/1-Services/Asd.Service.BoundedContext/bin
src/1-Services/Asd.Service.BoundedContext/obj
src/2-Application/Asd/bin
src/2-Application/Asd/obj
src/2-Application/Asd.Application.BoundedContext/bin
src/2-Application/Asd.Application.BoundedContext/obj
src/3-Domain/Asd/bin
src/3-Domain/Asd/obj
src/3-Domain/Asd.Domain.BoundedContext/bin
src/3-Domain/Asd.Domain.BoundedContext/obj
src/4-Infra/4.1-Data/Asd/bin
src/4-Infra/4.1-Data/Asd/obj
src/4-Infra/4.1-Data/Asd.Infra.Data.BoundedContext/bin
src/4-Infra/4.1-Data/Asd.Infra.Data.BoundedContext/obj
src/4-Infra/4.2-CrossCutting/Asd/bin
src/4-Infra/4.2-CrossCutting/Asd/obj
src/4-Infra/4.2-CrossCutting/Asd.Infra.CrossCutting.BoundedContext/bin
src/4-Infra/4.2-CrossCutting/Asd.Infra.CrossCutting.BoundedContext/obj